
<nav [class.collapsed]="isCollapsible">
    <jb-menu-item [isMenuButton]="true" *ngIf="isCollapsible"
                  (onToggleMenu)="toggleMenu($event)">
        {{labelCollapsed}}
    </jb-menu-item>
    <ng-content *ngIf="isOpen"></ng-content>
</nav>


