:host {
    display: block;
    width: 100%;
}

nav {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

nav.collapsed {
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
}