/* GLOBAL APP STYLES */

.ng-cloak, jb-responsive-breakpoints, jb-style {
  display: none;
}

@import "../../lib/src/item/jb_menu_item_custom_styles.scss";
@include jb-menu-item-normal($selector: "jb-menu-item[footer]", $map: (color: #ff0000));
@include jb-menu-item-hover($selector: "jb-menu-item[footer]", $map: (color: #ffce0a));