//Declaring a map:  $map: (key1: value1, key2: value2, key3: value3);

@mixin jb-menu-item-normal($selector, $map) {
  polyfill-unscoped-rule {

    @each $key, $value in $map {
      #{$key}: $value;
    }

    content: '#{$selector} > a';
  }
}

@mixin jb-menu-item-hover($selector, $map) {
  polyfill-unscoped-rule {

    @each $key, $value in $map {
      #{$key}: $value;
    }

    content: '#{$selector} > a:hover';
  }
}

@mixin jb-menu-item-active($selector, $map) {
  polyfill-unscoped-rule {

    @each $key, $value in $map {
      #{$key}: $value;
    }

    content: '#{$selector} > a.active, #{$selector} > a:active';
  }
}