* {
  box-sizing: border-box;
}

:host {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: left;
}

a {
  /* text-settings */
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 1.5em;
  font-weight: 300;
  color: #000000;

  margin: 5px;
  padding: 5px;

  cursor: pointer;
}

a.collapsed {
  text-align: center;
}

a:hover, .active {
  /*text-shadow: rgba(70, 70, 70, 0.80) 0 0 1px;*/
  color: rgb(43, 82, 255);
}

@keyframes color_change {
  from {
    color: black;
  }
  to {
    color: rgb(43, 82, 255);
  }
}

/*.active {*/
/*border-bottom: 2px solid rgb(43, 82, 255);*/
/*}*/
