<!--Notice: cannot pass a:hover color per javascript/dart -> need sass for this-->
<a [href]="url" [class.active]="active" [class.collapsed]="collapsedMode" (click)="onClick($event)"
   [target]="target">
    <!--this will transclude the button content though this component-->
    <ng-content></ng-content>
</a>
