<style>
    jb-menu {
        border-top: solid 1px #FFFFFF;
        background: rgba(255, 255, 255, 0.4);
    }

    jb-menu-item {
        /*background: rgba(50, 50, 50, 0.8);*/
    }

    iframe {
        border: 2px solid black;
        background: #fff;
        width: 100%;
        height: 50%;
    }
</style>

<jb-responsive-breakpoints [breakpoints]="breakpoints"
                           [(activeBreakpoints)]="activeBreakpoints">
</jb-responsive-breakpoints>

<jb-menu [activeBreakpoints]="activeBreakpoints"
         [collapsedStateBreakpoints]="collapsedStateBreakpoints"
         operationMode="responsive"
         class="mainMenu"
         #menu>

    <!--additional options:
                  [openInNewTab]="true" - does not work together with disableNavigation-->
    <jb-menu-item *ngFor="let url of menuItems.keys; let i=index"
                  class="mainMenu"
                  [disableNavigation]="true"
                  [collapsedMode]="menu.isCollapsible"
                  [url]="url"
                  [active]="isActiveUrl(url)"
                  (click)="onClick(url)">
        {{menuItems[url]}}
    </jb-menu-item>
</jb-menu>


<h1> Test Page</h1>

Active Breakpoints:
<ul>
    <li *ngFor="let breakpoint of activeBreakpoints;"> {{breakpoint}}</li>
</ul>

<iframe [src]="sanitizedUrl">

</iframe>


<footer>
    <jb-menu [activeBreakpoints]="activeBreakpoints"
             [collapsedStateBreakpoints]="collapsedStateBreakpoints"
             operationMode="static"
             class="footerMenu"
             #menu>

        <!--additional options:
                      [openInNewTab]="true" - does not work together with disableNavigation-->
        <jb-menu-item *ngFor="let url of footerItems.keys; let i=index"
                      footer
                      [disableNavigation]="true"
                      [collapsedMode]="menu.isCollapsible"
                      [url]="url"
                      [active]="isActiveUrl(url)"
                      (click)="onClick(url)">
            {{footerItems[url]}}
        </jb-menu-item>
    </jb-menu>
</footer>